<div data-page='organizations'>
    <h1>{{organizations_label}}</h1>
    <hr>
    <div data-role='filters'>
        <div class="row">
            <!-- Filters -->
            <div class="col-md-10"><h2>{{organizations_search_header}}</h2></div>
            <div class="col-md-2"><a id="advanced" class="pull-right">{{organizations_search_showadvanced}}</a></div>
        </div>
        <div id="simple-search" class="row spacer">
            <div class="col-md-12">
                <div class="form-inline">
                    <input type="text" class="form-control" id="search_omnibox" dir="{{text_direction}}"
                           placeholder="{{organizations_omnisearch_placeholder}}">
                    <div class="pull-right">
                        <button id="search_button" type="button" class="btn btn-primary"><span class="fa fa-search"></span></button>
                        <!--
                        <button  type="button" class="btn btn-default">Switch to Advanced Search</button>
                        -->
                    </div>
                </div>
            </div>
        </div>
        <div style="display: none" data-role='messages' class="row spacer">
            <!-- Messages -->
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert"><center id="orgalert_message"></center></div>
            </div>
        </div>
        <div id="advanced-search" class="advanced">
            <br/>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="search_name">{{organizations_searchform_search_name}}</label>
                        <input type="text" class="form-control" id="search_name" placeholder="{{organizations_searchform_search_name}}">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="search_organization">{{organizations_searchform_search_organization}}</label>
                        <input type="text" class="form-control" id="search_organization" placeholder="{{organizations_searchform_search_organization}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="search_instcode">{{organizations_searchform_search_instcode}}</label>
                        <input type="text" class="form-control" id="search_instcode" placeholder="{{organizations_searchform_search_instcode}}">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="search_city">{{organizations_searchform_search_city}}</label>
                        <input type="text" class="form-control" id="search_city" placeholder="{{organizations_searchform_search_city}}">
                    </div>
                </div>
            </div>
            <div id="fenixfilter">
                <div class="row">
                    <div class="col-md-5">
                        <div data-selector="country" class="form-group">
                            <label for="search_country">{{organizations_searchform_search_country}}</label>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div data-selector="organizations_role" class="form-group">
                            <label for="search_organizationrole">{{organizations_searchform_search_organizationrole}}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div data-selector="valid" class="form-group">
                            <label for="search_validation">{{organizations_searchform_search_validation}}</label>

                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="pull-right">
                            <div style="margin-top: 24px">
                                <button id="clear_button" type="button" class="btn btn-primary"><span class="fa fa-times"></span></button>
                                <button id="adv_search_button" type="button" class="btn btn-primary"><span class="fa fa-search"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row spacer"><!-- Spacer --></div>
    </div>
    <div data-role='results'>
        <div class="row">
            <div class="col-md-6">
                <h2>{{organizations_results_header}}</h2></br>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <button id="backtosearch" type="button" class="btn btn-default">{{organizations_button_backtosearch}}</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 clearfix">
                <!-- Result -->
                <div id="toolbar" class="bootstrapTableExport">
                    <button data-role="organizations_exportbutton" alt="{{organizations_export_button_alt}}" class="btn btn-default">
                        <span alt="{{organizations_export_button_alt}}" class="icojam icojam_download_1"></span> <span>{{download_results}}</span></button>
                </div>
                <table id="table"
                       data-toolbar="#toolbar"
                       data-toolbar-align="right"
                >
                    <thead>
                    <tr>
                        <th data-sortable="true" data-width="16%" data-field="name">{{organizations_table_header_name}}</th>
                        <th data-sortable="true" data-width="7%" data-field="acronym">{{organizations_table_header_acronym}}</th>
                        <th data-sortable="true" data-width="7%" data-field="instcode">{{organizations_table_header_instcode}}</th>
                        <th data-sortable="true" data-width="21%" data-field="parent_name">{{organizations_table_header_parentorg}}</th>
                        <th data-sortable="true" data-width="21%" data-field="address">{{organizations_table_header_address}}</th>
                        <th data-sortable="true" data-width="14%" data-field="city">{{organizations_table_header_city}}</th>
                        <th data-sortable="true" data-width="14%" data-field="country">{{organizations_table_header_country}}</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="row spacer"><!-- Spacer --></div>
    </div>
    <div data-role='details'>
        <div class="row">
            <div class="col-md-6">
                <h2>{{organizations_details_header}}</h2></br>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <button id="backtoresults" type="button" class="btn btn-default">{{organizations_button_backtoresults}}</button>
                    <button id="backtosearch_fromomni" type="button" class="btn btn-default">{{organizations_button_backtosearch_fromomni}}</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 clearfix">
                <!-- Details -->
                <div class="csc-default">
                    <div class="tx-xinclude-pi1">
                        <div id="containerGPA">
                            <div class="tableheader"> {{organizations_details_invalidheader}} {{organizations_details_invalidtext}} <a data-GPAIndex="valid_instcode" href="#">{{organizations_details_invalidlink}}</a>
                            </div>
                            <div class="tableGPA">
                                <div class="GPA-group">
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">{{organizations_table_details_name}}</div>
                                        <div data-GPAIndex="name" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">{{organizations_table_details_acronym}}</div>
                                        <div data-GPAIndex="acronym" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">{{organizations_table_details_instcode}}</div>
                                        <div data-GPAIndex="instcode" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">{{organizations_table_details_parentorg}}</div>
                                        <div class="GPA-cell txt"><a data-GPAIndex="parent_instcode" href="#"><span data-GPAIndex="parent_name"></span></a></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">{{organizations_table_details_address}}</div>
                                        <div data-GPAIndex="address" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">{{organizations_table_details_zipcode}}</div>
                                        <div data-GPAIndex="zip_code" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">{{organizations_table_details_city}}</div>
                                        <div data-GPAIndex="city" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">{{organizations_table_details_country}}</div>
                                        <div data-GPAIndex="country" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">{{organizations_table_details_telephone}}</div>
                                        <div data-GPAIndex="telephone" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">{{organizations_table_details_fax}}</div>
                                        <div data-GPAIndex="fax" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">{{organizations_table_details_email}}</div>
                                        <div data-GPAIndex="email" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">{{organizations_table_details_www}}</div>
                                        <div data-GPAIndex="website" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">{{organizations_table_details_orgstatus}}</div>
                                        <div data-GPAIndex="status" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">{{organizations_table_details_rolecategories}}</div>
                                        <div class="GPA-cell txt">
                                            <ul>
                                                <li class="GPAListElement hiddenflag" data-GPAFlag="role_f646">{{organizations_details_role_f646}}</li>
                                                <li class="GPAListElement hiddenflag" data-GPAFlag="role_f647">{{organizations_details_role_f647}}</li>
                                                <li class="GPAListElement hiddenflag" data-GPAFlag="role_f648">{{organizations_details_role_f648}}</li>
                                                <li class="GPAListElement hiddenflag" data-GPAFlag="role_f649">{{organizations_details_role_f649}}</li>
                                                <li class="GPAListElement hiddenflag" data-GPAFlag="role_f650">{{organizations_details_role_f650}}</li>
                                                <li class="GPAListElement hiddenflag" data-GPAFlag="role_f651">{{organizations_details_role_f651}}</li>
                                                <li class="GPAListElement hiddenflag" data-GPAFlag="role_f652">{{organizations_details_role_f652}}</li>
                                                <li class="GPAListElement hiddenflag" data-GPAFlag="role_f653">{{organizations_details_role_f653}}</li>
                                                <li class="GPAListElement hiddenflag" data-GPAFlag="role_f654">{{organizations_details_role_f657}}</li>
                                                <li class="GPAListElement hiddenflag" data-GPAFlag="role_f655">{{organizations_details_role_f655}}</li>
                                                <li class="GPAListElement hiddenflag" data-GPAFlag="role_f656">{{organizations_details_role_f656}}</li>
                                                <li class="GPAListElement hiddenflag" data-GPAFlag="role_f657">{{organizations_details_role_f657}}</li>
                                                <li class="GPAListElement hiddenflag" data-GPAFlag="role_f658">{{organizations_details_role_f658}}</li>
                                                <li class="GPAListElement hiddenflag" data-GPAFlag="role_f869">{{organizations_details_role_f869}}</li>
                                                <li class="GPAListElement hiddenflag" data-GPAFlag="role_f874">{{organizations_details_role_f874}}</li>
                                                <li class="GPAListElement hiddenflag" data-GPAFlag="role_f875">{{organizations_details_role_f875}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">{{organizations_table_details_long}}</div>
                                        <div data-GPAIndex="longitude" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">{{organizations_table_details_lat}}</div>
                                        <div data-GPAIndex="latitude" class="GPA-cell txt"></div>
                                    </div>
                                    <!--
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl"></div>
                                        <div class="GPA-cell txt"><a data-GPAIndex="exsitu_search" href="#">Check for <i>Ex Situ</i> holdings here</a></div>
                                    </div>
                                    -->
                                </div>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row spacer"><!-- Spacer --></div>
    </div>
    <br/>
    <br/>
    <div id="mvrck" style="display: none"> Made with blood, sweat and tears by itsjustmario</div>
</div>
<div id="organizations-ux-loader" data-page="ux-loader">
    <h1> {{loading_text}} <i class="fa fa-spinner" aria-hidden="true"></i> </h1>
</div>