<div data-page='organizations'>
    <h1>Organizations</h1>
    <hr>
    <div data-role='filters'>
        <div class="row">
            <!-- Filters -->
            <div class="col-md-10"><h2>{{organizations_search_header}}</h2></div>
            <div class="col-md-2"><a id="advanced" class="pull-right">{{organizations_search_showadvanced}}</a></div>
        </div>
        <div class="row spacer">
            <div class="col-md-12">
                <div class="form-inline">
                    <input type="text" class="form-control" id="search_omnibox"
                           placeholder="{{organizations_omnisearch_placeholder}}">
                    <div class="pull-right">
                        <button id="search_button" type="button" class="btn btn-primary"><span class="icojam icojam_search"></span></button>
                        <!--
                        <button  type="button" class="btn btn-default">Switch to Advanced Search</button>
                        -->
                    </div>
                </div>
            </div>
        </div>
        <div style="display: none" data-role='messages' class="row spacer">
            <!-- Messages -->
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert"><center id="orgalert_message"></center></div>
            </div>
        </div>
        <div id="advanced-search" class="advanced">
            <hr>
            <br/>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="search_name">{{organizations_searchform_search_name}}</label>
                        <input type="text" class="form-control" id="search_name" placeholder="{{organizations_searchform_search_name}}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="search_organization">{{organizations_searchform_search_organization}}</label>
                        <input type="text" class="form-control" id="search_organization" placeholder="{{organizations_searchform_search_organization}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="search_instcode">{{organizations_searchform_search_instcode}}</label>
                        <input type="text" class="form-control" id="search_instcode" placeholder="{{organizations_searchform_search_instcode}}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="search_city">{{organizations_searchform_search_city}}</label>
                        <input type="text" class="form-control" id="search_city" placeholder="{{organizations_searchform_search_city}}">
                    </div>
                </div>
            </div>
            <div id="fenixfilter">
                <div class="row">
                    <div class="col-md-6">
                        <div data-selector="country" class="form-group">
                            <label for="search_country">{{organizations_searchform_search_country}}</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div data-selector="organizations_role" class="form-group">
                            <label for="search_organizationrole">{{organizations_searchform_search_organizationrole}}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div data-selector="valid" class="form-group">
                            <label for="search_validation">{{organizations_searchform_search_validation}}</label>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div style="margin-top: 24px">
                                <button id="adv_search_button" type="button" class="btn btn-primary"><span class="icojam icojam_search"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row spacer"><!-- Spacer --></div>
    </div>
    <div data-role='results'>
        <div class="row">
            <div class="col-md-6">
                <h2>{{organizations_results_header}}</h2></br>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <button id="backtosearch" type="button" class="btn btn-default">{{organizations_button_backtosearch}}</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 clearfix">
                <!-- Result -->
                <div id="toolbar" class="bootstrapTableExport">
                    <button data-role="organizations_exportbutton" alt="{{organizations_export_button_alt}}" class="btn btn-default"><span alt="{{organizations_export_button_alt}}" class="glyphicon glyphicon-export"></span></button>
                </div>
                <table id="table"
                       data-toolbar="#toolbar"
                       data-toolbar-align="right"
                >
                    <thead>
                    <tr>
                        <th data-sortable="true" data-width="16%" data-field="name">{{organizations_table_header_name}}</th>
                        <th data-sortable="true" data-width="7%" data-field="acronym">{{organizations_table_header_acronym}}</th>
                        <th data-sortable="true" data-width="7%" data-field="instcode">{{organizations_table_header_instcode}}</th>
                        <th data-sortable="true" data-width="21%" data-field="parent_name">{{organizations_table_header_parentorg}}</th>
                        <th data-sortable="true" data-width="21%" data-field="address">{{organizations_table_header_address}}</th>
                        <th data-sortable="true" data-width="14%" data-field="city">{{organizations_table_header_city}}</th>
                        <th data-sortable="true" data-width="14%" data-field="country">{{organizations_table_header_country}}</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="row spacer"><!-- Spacer --></div>
    </div>
    <div data-role='details'>
        <div class="row">
            <div class="col-md-6">
                <h2>{{organizations_details_header}}</h2></br>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <button id="backtoresults" type="button" class="btn btn-default">{{organizations_button_backtoresults}}</button>
                    <button id="backtosearch_fromomni" type="button" class="btn btn-default">{{organizations_button_backtosearch_fromomni}}</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 clearfix">
                <!-- Details -->
                <div class="csc-default">
                    <div class="tx-xinclude-pi1">
                        <div id="containerGPA">
                            <div class="tableheader"> {{organizations_details_invalidheader}} <br> {{organizations_details_invalidtext}} <a data-GPAIndex="valid_instcode" href="#">{{organizations_details_invalidlink}}</a>
                            </div>
                            <div class="tableGPA">
                                <div class="GPA-group">
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">Name of organization</div>
                                        <div data-GPAIndex="name" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">Organization acronym</div>
                                        <div data-GPAIndex="acronym" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">WIEWS instcode</div>
                                        <div data-GPAIndex="instcode" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">Parent organization</div>
                                        <div class="GPA-cell txt"><a data-GPAIndex="parent_instcode" href="#"><span data-GPAIndex="parent_name"></span></a></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">Address</div>
                                        <div data-GPAIndex="address" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">ZIP code</div>
                                        <div data-GPAIndex="zip_code" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">City</div>
                                        <div data-GPAIndex="city" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">Country</div>
                                        <div data-GPAIndex="country" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">Telephone</div>
                                        <div data-GPAIndex="telephone" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">Fax</div>
                                        <div data-GPAIndex="fax" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">Email address</div>
                                        <div data-GPAIndex="email" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">WWW address</div>
                                        <div data-GPAIndex="website" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">Organization authority status</div>
                                        <div data-GPAIndex="status" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">Organization role categories</div>
                                        <div class="GPA-cell txt">
                                            <ul>
                                                <li class="GPAListElement hiddenflag" data-GPAFlag="role_f646">Genebank (long term collections)</li>
                                                <li class="GPAListElement hiddenflag" data-GPAFlag="role_f647">Botanical garden</li>
                                                <li class="GPAListElement hiddenflag" data-GPAFlag="role_f648">Breeder</li>
                                                <li class="GPAListElement hiddenflag" data-GPAFlag="role_f649">Network</li>
                                                <li class="GPAListElement hiddenflag" data-GPAFlag="role_f650">Community</li>
                                                <li class="GPAListElement hiddenflag" data-GPAFlag="role_f651">Educational</li>
                                                <li class="GPAListElement hiddenflag" data-GPAFlag="role_f652">Seed producer</li>
                                                <li class="GPAListElement hiddenflag" data-GPAFlag="role_f653">Seed supplier</li>
                                                <li class="GPAListElement hiddenflag" data-GPAFlag="role_f654">Farmer community</li>
                                                <li class="GPAListElement hiddenflag" data-GPAFlag="role_f655">Research</li>
                                                <li class="GPAListElement hiddenflag" data-GPAFlag="role_f656">Extensionist</li>
                                                <li class="GPAListElement hiddenflag" data-GPAFlag="role_f657">Laboratory</li>
                                                <li class="GPAListElement hiddenflag" data-GPAFlag="role_f658">Publisher</li>
                                                <li class="GPAListElement hiddenflag" data-GPAFlag="role_f869">Administration/Policy</li>
                                                <li class="GPAListElement hiddenflag" data-GPAFlag="role_f874">Genebank (medium term collections)</li>
                                                <li class="GPAListElement hiddenflag" data-GPAFlag="role_f875">Genebank (short term collections)</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">Longitude (decimal degrees format)</div>
                                        <div data-GPAIndex="longitude" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">Latitude (decimal degrees format)</div>
                                        <div data-GPAIndex="latitude" class="GPA-cell txt"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row spacer"><!-- Spacer --></div>
    </div>
    <br/>
    <br/>
</div>