<div data-page='exsitu-search'>
    <div id="fenixfilter" data-role='filters'>
        <div class="row">
            <!-- Filters -->
            <div class="col-md-5">
                <div data-selector="search_year" class="form-group">
                    <label for="search_country_institute">{{exsitu_search_header}}</label>
                </div>
            </div>
            <!--<div class="col-md-8"><a id="advanced" class="pull-right">{{exsitu_search_showadvanced}}</a></div>-->
        </div>
        <!--
        <div class="row spacer">
            <div class="col-md-12">
                <div class="form-inline">
                    <input type="text" class="form-control" id="search_omnibox" placeholder="{{exsitu-search_omnisearch_placeholder}}">
                    <div class="pull-right">
                        <button id="search_button" type="button" class="btn btn-primary"><span class="icojam icojam_search"></span></button>
                    </div>
                </div>
            </div>
        </div>
        -->
        <div id="advanced-search">
            <div class="row">
                <div class="col-md-5">
                    <div data-selector="search_country_institute" class="form-group">
                        <label for="search_country_institute">{{exsitu-search_search_country_institute}}</label>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="search_instcode">{{exsitu-search_search_instcode}}</label>
                        <input type="text" class="form-control" id="search_instcode" placeholder="{{exsitu-search_search_instcode}}">
                    </div>
                </div>
            </div>
            <div class="element-selection-box">
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label for="search_crop">{{exsitu-search_search_crop}}</label>
                            <input type="text" class="form-control" id="search_crop" placeholder="{{exsitu-search_search_crop}}">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div data-selector="search_search_crop_wild_relatives" class="form-group">
                            <label for="search_search_crop_wild_relatives">{{exsitu-search_search_crop_wild_relatives}}</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group pull-right">
                            <div style="margin-top: 24px">
                                <button id="btn_clearfromcrop" title="{{exsitu-search_search_added_element_clear}}" type="button" class="btn btn-primary"><span class="fa fa-times"></span></button>
                                <button id="btn_addfromcrop" title="{{exsitu-search_add_button}}" type="button" class="btn btn-primary"><span class="fa fa-plus"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row filling-gap"></div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="search_genus">{{exsitu-search_search_genus}}</label>
                            <input type="text" class="form-control" id="search_genus" placeholder="{{exsitu-search_search_genus}}">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="search_spieces">{{exsitu-search_search_spieces}}</label>
                            <input type="text" class="form-control" id="search_spieces" placeholder="{{exsitu-search_search_spieces_placeholder}}">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group pull-right">
                            <div style="margin-top: 24px">
                                <button id="btn_clearfromgenuspecies" title="{{exsitu-search_search_added_element_clear}}" type="button" class="btn btn-primary"><span class="fa fa-times"></span></button>
                                <button id="btn_addserach" title="{{exsitu-search_add_button}}" type="button" class="btn btn-primary"><span class="fa fa-plus"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div id="label_combined_elements_container">{{exsitu-search_search_added_element}}</div>
                        <div id="combined_elements_container"></div>
                        <div id="combined_elements_container_empty">{{exsitu-search_search_is_empty}}</div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group pull-right">
                            <div style="margin-top: 24px">
                                <button id="btn_clearserach" title="{{exsitu-search_search_added_element_clear}}" type="button" class="btn btn-primary"><span class="fa fa-times"></span></button>
                                <button style="visibility:hidden; height: 34px;" type="button" class="btn btn-primary"><span class="fa fa-times"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row half-spacer">
                <div style="display: none" class="col-md-5">
                    <div class="form-group">
                        <label for="search_search_taxon">{{exsitu-search_search_taxon}}</label>
                        <input type="text" class="form-control" id="search_taxon" placeholder="{{exsitu-search_search_taxon}}">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="search_accessions">{{exsitu-search_search_accessions}}</label>
                        <input type="text" class="form-control" id="search_accessions" placeholder="{{exsitu-search_search_accessions}}">
                    </div>
                </div>
                <div class="col-md-5">
                    <div data-selector="search_country_origin" class="form-group">
                        <label for="search_country_origin">{{exsitu-search_search_country_origin}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div data-selector="search_statusmultilateral" class="form-group">
                        <label for="search_statusmultilateral">{{exsitu-search_search_statusmultilateral}}</label>
                    </div>
                </div>
                <div class="col-md-5">
                    <div data-selector="search_statusofaccession" class="form-group">
                        <label for="search_statusofaccession">{{exsitu-search_search_statusofaccession}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- Empty, for now -->
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <div style="margin-top: 24px">
                            <button id="adv_clear_button" type="button" class="btn btn-primary"><span class="fa fa-times"></span></button>
                            <button id="adv_search_button" type="button" class="btn btn-primary"><span class="fa fa-search"></span></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div style="display: none" data-role='messages' class="row spacer">
            <!-- Messages -->
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">
                    <center id="orgalert_message"></center>
                </div>
            </div>
        </div>
        <div class="row spacer"><!-- Spacer --></div>
    </div>
    <div data-role='results'>
        <div class="row">
            <div class="col-md-6">
                <h2>{{organizations_results_header}}</h2></br>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <button id="backtosearch" type="button"
                            class="btn btn-default">{{organizations_button_backtosearch}}</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 clearfix">
                <!-- Result -->
                <div id="toolbar" class="bootstrapTableExport">
                    <button data-role="organizations_exportbutton" alt="{{organizations_export_button_alt}}"
                            class="btn btn-default"><span alt="{{organizations_export_button_alt}}" class="icojam icojam_download_1"></span> <span>Download Result</span></button>
                </div>
                <table id="table"
                       data-toolbar="#toolbar"
                       data-toolbar-align="right"
                >
                    <thead>
                    <tr>
                        <th data-sortable="true" data-width="15%" data-field="w_instcode">{{exsitu-search_table_instcode}}</th>
                        <th data-sortable="true" data-width="15%" data-field="accenumb">{{exsitu-search_table_accenumb}}</th>
                        <th data-sortable="true" data-width="30%" data-field="taxon">{{exsitu-search_table_taxon}}</th>
                        <th data-sortable="true" data-width="20%" data-field="acqdate">{{exsitu-search_table_acqdate}}</th>
                        <th data-sortable="true" data-width="20%" data-field="storage">{{exsitu-search_table_storage}}</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="row spacer"><!-- Spacer --></div>
    </div>
    <div data-role='details'>
        <div class="row">
            <div class="col-md-6">
                <h2>{{organizations_details_header}}</h2></br>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <button id="backtoresults" type="button"
                            class="btn btn-default">{{organizations_button_backtoresults}}</button>
                    <button id="backtosearch_fromomni" type="button"
                            class="btn btn-default">{{organizations_button_backtosearch_fromomni}}</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 clearfix">
                <!-- Details -->
                <div class="csc-default">
                    <div class="tx-xinclude-pi1">
                        <div id="containerGPA">
                            <div class="tableheader"> {{organizations_details_invalidheader}}
                                <!-- The valid record is reachable <a href="http://www.fao.org/wiews/instab/en/?idcode=" target="_top">here</a> --></div>
                            <div class="tableGPA">
                                <div class="GPA-group">
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">Holding institute code and name</div>
                                        <div class="GPA-cell txt"><a data-GPAIndex="w_instcode" href="#"><span data-GPAIndex="stakeholder_fullname"></span></a></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">Holding institute country</div>
                                        <div data-GPAIndex="country_en" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">Accession number</div>
                                        <div data-GPAIndex="accenumb" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">Name of taxon</div>
                                        <div data-GPAIndex="taxon" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">Name of crop</div>
                                        <div data-GPAIndex="cropname" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">Acquisition Date (YYYY/MM)</div>
                                        <div data-GPAIndex="acqdate" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">Country of origin</div>
                                        <div data-GPAIndex="origcty" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">Biological status of accession</div>
                                        <div data-GPAIndex="sampstat" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">Genebank(s) holding safety duplications</div>
                                        <div data-GPAIndex="genebanks" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">Latitude of collecting site (decimal degrees format)
                                        </div>
                                        <div data-GPAIndex="declatitude" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">Longitude of collecting site (decimal degrees
                                            format)
                                        </div>
                                        <div data-GPAIndex="declongitude" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">Collecting/acquisition source</div>
                                        <div data-GPAIndex="collsrc" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">Type of germplasm storage</div>
                                        <div data-GPAIndex="storage" class="GPA-cell txt"></div>
                                    </div>
                                    <div class="GPA-row">
                                        <div class="GPA-cell lbl">Status under the Multilateral System</div>
                                        <div data-GPAIndex="mlsstat" class="GPA-cell txt"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row spacer"><!-- Spacer --></div>
    </div>
    <br/>
    <br/>
</div>
<div id="exsitu-search-ux-loader" data-page="ux-loader">
    <h1> Loading... <i class="fa fa-spinner" aria-hidden="true"></i> </h1>
</div>